<header class="header section">
  <div class="container">
    <div class="navigation">
      <a
        href="./index.html"
        class="navigation__home navigation__home--from-my-library"
        >home</a
      >
      <a
        href="./my-library.html"
        class="navigation__library navigation__library--from-my-library"
        >my library</a
      >

      <div class="my-library-buttons">
        <a
          href="./my-library.html"
          id="watched-header-button"
          class="navigation__watched my-library-active"
          >watched</a
        >
        <a
          href="./my-library.html"
          id="queue-header-button"
          class="navigation__queue"
          >queue</a
        >
      </div>
    </div>
    <a class="logo logo--from-my-library" href="./index.html">
      <svg class="logo__svg" width="59" height="59">
        <use href="./images/svg/icons.svg#icon-film"></use>
      </svg>
      <h1 class="logo__text">Filmoteka</h1>
    </a>

    <div class="my-library-buttons--2">
      <a
        href="./my-library.html"
        id="watched-header-mobile-button"
        class="navigation__watched my-library-active"
        >watched</a
      >
      <a
        href="./my-library.html"
        id="queue-header-mobile-button"
        class="navigation__queue"
        >queue</a
      >
    </div>
  </div>
</header>
