<div id="modal-container">
  <div class="modal-background">
    <div class="modal">
      <div class="main__modal__container">
        <span class="main__modal__container__close-button"> &times; </span>

        <h2>
          THE
          <img alt="GO IT Logo" height="32" src="./images/goit-logo.png" />
          STUDENTS
        </h2>

        <!-- PC People Cards -->
        <div class="main__modal__container__people">
          <div class="main__modal__container__people--1">
            <figure>
              <img src="./images/daniel.jpg" alt="Daniel" />
              <figcaption>
                Daniel Purghel<br /><span>Developer</span>

                <br />
                <a
                  href="https://www.linkedin.com/"
                  target="blank"
                  rel="nofollow noopener noreferrer"
                >
                  <svg width="40" height="40">
                    <use href="./images/icons.svg#linkedin"></use>
                  </svg>
                </a>
                <a
                  href="https://www.github.com/"
                  target="blank"
                  rel="nofollow noopener noreferrer"
                >
                  <svg width="40" height="40">
                    <use href="./images/icons.svg#github"></use>
                  </svg>
                </a>
              </figcaption>
            </figure>
          </div>

          <div class="main__modal__container__people--2">
            <figure>
              <img src="./images/danielCP.jpg" alt="DanielCP" />
              <figcaption>
                Predescu Daniel<br />Constantin<br /><span>Developer</span>

                <br />
                <a
                  href="https://www.linkedin.com/"
                  target="blank"
                  rel="nofollow noopener noreferrer"
                >
                  <svg width="40" height="40">
                    <use href="./images/icons.svg#linkedin"></use>
                  </svg>
                </a>
                <a
                  href="https://www.github.com/"
                  target="blank"
                  rel="nofollow noopener noreferrer"
                >
                  <svg width="40" height="40">
                    <use href="./images/icons.svg#github"></use>
                  </svg>
                </a>
              </figcaption>
            </figure>
          </div>

          <div class="main__modal__container__people--3">
            <figure>
              <img src="./images/razvan.jpg" alt="Razvan" />
              <figcaption>
                Răzvan Pavel<br /><span>Team Leader</span>

                <br />
                <a
                  href="https://www.linkedin.com/"
                  target="blank"
                  rel="nofollow noopener noreferrer"
                >
                  <svg width="40" height="40">
                    <use href="./images/icons.svg#linkedin"></use>
                  </svg>
                </a>
                <a
                  href="https://www.github.com/"
                  target="blank"
                  rel="nofollow noopener noreferrer"
                >
                  <svg width="40" height="40">
                    <use href="./images/icons.svg#github"></use>
                  </svg>
                </a>
              </figcaption>
            </figure>
          </div>

          <div class="main__modal__container__people--4">
            <figure>
              <img src="./images/mihai.jpg" alt="Mihai" />
              <figcaption>
                Andrei-Bogdan<br />Mihai<br /><span>Scrum Master</span>

                <br />
                <a
                  href="https://www.linkedin.com/"
                  target="blank"
                  rel="nofollow noopener noreferrer"
                >
                  <svg width="40" height="40">
                    <use href="./images/icons.svg#linkedin"></use>
                  </svg>
                </a>
                <a
                  href="https://www.github.com/"
                  target="blank"
                  rel="nofollow noopener noreferrer"
                >
                  <svg width="40" height="40">
                    <use href="./images/icons.svg#github"></use>
                  </svg>
                </a>
              </figcaption>
            </figure>
          </div>

          <div class="main__modal__container__people--5">
            <figure>
              <img src="./images/marius.jpeg" alt="Marius" />
              <figcaption>
                Marius Toma<br /><span>Developer</span>

                <br />
                <a
                  href="https://www.linkedin.com/"
                  target="blank"
                  rel="nofollow noopener noreferrer"
                >
                  <svg width="40" height="40">
                    <use href="./images/icons.svg#linkedin"></use>
                  </svg>
                </a>
                <a
                  href="https://www.github.com/"
                  target="blank"
                  rel="nofollow noopener noreferrer"
                >
                  <svg width="40" height="40">
                    <use href="./images/icons.svg#github"></use>
                  </svg>
                </a>
              </figcaption>
            </figure>
          </div>
        </div>

        <!-- Mobile/Tablet People Cards -->
        <div class="flickity-gallery js-flickity">
          <div class="flickity-gallery-cell">
            <figure class="main__modal__container__member--1">
              <img src="./images/daniel.jpg" alt="Daniel" />
            </figure>
            <div>
              Daniel Purghel<br /><span>Developer</span>

              <br />
              <a
                href="https://www.linkedin.com/"
                target="blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="40" height="40">
                  <use href="./images/icons.svg#linkedin"></use>
                </svg>
              </a>
              <a
                href="https://www.github.com/"
                target="blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="40" height="40">
                  <use href="./images/icons.svg#github"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="flickity-gallery-cell">
            <figure class="main__modal__container__member--2">
              <img src="./images/danielCP.jpg" alt="Daniel" />
            </figure>
            <div>
              Predescu Daniel Constantin<br /><span>Developer</span>

              <br />
              <a
                href="https://www.linkedin.com/"
                target="blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="40" height="40">
                  <use href="./images/icons.svg#linkedin"></use>
                </svg>
              </a>
              <a
                href="https://www.github.com/"
                target="blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="40" height="40">
                  <use href="./images/icons.svg#github"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="flickity-gallery-cell">
            <figure class="main__modal__container__member--3">
              <img src="./images/razvan.jpg" alt="Razvan" />
            </figure>
            <div>
              Pavel Petre Cristian<br /><span>Team Leader</span>

              <br />
              <a
                href="https://www.linkedin.com/"
                target="blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="40" height="40">
                  <use href="./images/icons.svg#linkedin"></use>
                </svg>
              </a>
              <a
                href="https://www.github.com/"
                target="blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="40" height="40">
                  <use href="./images/icons.svg#github"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="flickity-gallery-cell">
            <figure class="main__modal__container__member--4">
              <img src="./images/mihai.jpg" alt="Mihai" />
            </figure>
            <div>
              Andrei-Bogdan Mihai<br /><span>Scrum Master</span>

              <br />
              <a
                href="https://www.linkedin.com/"
                target="blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="40" height="40">
                  <use href="./images/icons.svg#linkedin"></use>
                </svg>
              </a>
              <a
                href="https://www.github.com/"
                target="blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="40" height="40">
                  <use href="./images/icons.svg#github"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="flickity-gallery-cell">
            <figure class="main__modal__container__member--5">
              <img src="./images/marius.jpeg" alt="Marius" />
            </figure>
            <div>
              Marius Toma<br /><span>Developer</span>

              <br />
              <a
                href="https://www.linkedin.com/"
                target="blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="40" height="40">
                  <use href="./images/icons.svg#linkedin"></use>
                </svg>
              </a>
              <a
                href="https://www.github.com/"
                target="blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="40" height="40">
                  <use href="./images/icons.svg#github"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
