// NAVIGATION & BUTTONS
.navigation {
  max-height: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
}

@media screen and (min-width: $tablet-breakpoint) {
  .navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
}
@media screen and (min-width: $desktop-breakpoint) {
  .navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.navigation__watched {
  padding: 10px 23px;
  border-radius: 100px;
  box-shadow: 0px 0px 7px 0px rgba(27, 27, 27, 0.15);
  background: #fff;
  color: #b92f2c;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation__queue {
  padding: 10px 24px;
  border-radius: 100px;
  background: #fff;
  color: #b92f2c;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (min-width: $tablet-breakpoint) {
  .navigation__watched {
    padding: 12px 23px;
    border-radius: 100px;
    box-shadow: 0px 0px 7px 0px rgba(27, 27, 27, 0.15);
    background: #fff;
    color: #b92f2c;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
  }

  .navigation__queue {
    padding: 12px 24px;
    border-radius: 100px;
    background: #fff;
    color: #b92f2c;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .navigation__watched {
    padding: 14px 32px;
    border-radius: 100px;
    box-shadow: 0px 0px 7px 0px rgba(27, 27, 27, 0.15);
    background: #fff;
    color: #b92f2c;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
  }

  .navigation__queue {
    padding: 14px 24px;
    border-radius: 100px;
    background: #fff;
    color: #b92f2c;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    position: static;
    top: auto;
  }
}

.my-library-active {
  background: #b92f2c;
  color: #ffffff;
}

.navigation__home {
  padding: 14px 32px;
  border-radius: 100px;
  background: #000;
  color: #ffffff;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.navigation__home--from-my-library {
  background-color: #ffffff;
  color: #000;
}

.navigation__library {
  //BOX
  padding: 10px 22px;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #fff;
  //TEXT
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.navigation__library--from-my-library {
  background-color: #000;
  color: #ffffff;
}

@media screen and (min-width: $tablet-breakpoint) {
  .navigation__library {
    //BOX
    padding: 12px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: #fff;
    //TEXT
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
  }
  .navigation__library--from-my-library {
    background-color: #000;
    color: #ffffff;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .navigation__library {
    //BOX
    padding: 14px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: #fff;
    //TEXT
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
  }
  .navigation__library--from-my-library {
    background-color: #000;
    color: #ffffff;
  }
}

// my-library breakpoints
.my-library-buttons--2 {
  display: none;
}

@media screen and (max-width: 425px) {
  .my-library-buttons {
    display: none;
    &--2 {
      display: inline-block;
    }
  }
}

@media screen and (min-width: 425px) {
  .my-library-buttons {
    margin: 10px 0 0 0;
  }
}

@media screen and (min-width: 575px) {
  .my-library-buttons {
    margin-left: 16%;
  }
}

@media screen and (min-width: 768px) {
  .my-library-buttons {
    margin-left: 39%;
  }
}

@media screen and (min-width: 1280px) {
  .my-library-buttons {
    margin-left: 59%;
  }
}

.load-more {
  background: #b92f2c;
  color: white;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  width: 200px;
  margin: 20px;
  border: none;
  &:hover,
  &:focus {
    background: darken($color: #b92f2c, $amount: 15);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

// GALLERY MODAL

.modal_watched {
  width: 125px;
  height: 34px;
  padding: 10px 12px;
  background: #fff;
  color: #b92f2c;
  border-radius: 100px;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  &:hover,
  &:active {
    box-shadow: 0px 0px 7px 0px rgba(27, 27, 27, 0.15);
    background: #b92f2c;
    color: #ffffff;
    border: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.modal_watched_active {
  box-shadow: 0px 0px 7px 0px rgba(27, 27, 27, 0.15);
  background: #b92f2c;
  color: #ffffff;
}

.modal_queue {
  width: 111px;
  height: 34px;
  padding: 10px 14px;
  border-radius: 100px;
  background: #fff;
  color: #b92f2c;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  &:hover,
  &:active {
    box-shadow: 0px 0px 7px 0px rgba(27, 27, 27, 0.15);
    background: #b92f2c;
    color: #ffffff;
    border: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal_queue_active {
  box-shadow: 0px 0px 7px 0px rgba(27, 27, 27, 0.15);
  background: #b92f2c;
  color: #ffffff;
}

.gallery__close-button {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 25px;
  text-align: center;
  line-height: 40px;
  height: 40px;
  width: 40px;
  border: 1px solid #141414;
  border-radius: 100%;
}
.gallery__close-button:hover {
  cursor: pointer;
  animation: rotating-circle 2s infinite;
  background: rgb(255, 201, 158);
  background: linear-gradient(
    138deg,
    rgb(255, 201, 158) 0%,
    rgb(255, 233, 215) 15%,
    rgba(255, 255, 255, 0) 50%,
    rgb(255, 233, 215) 85%,
    rgb(255, 201, 158) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc99e",endColorstr="#ffc99e",GradientType=1);
  border-color: #ff6c00;
  color: #ff6c00;
}
@keyframes rotating-circle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

// SCROLL TO TOP

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

//FOOTER

.footer__main__button {
  background: none;
  border: none;
  padding: 14px 28px;
  cursor: pointer;
  &:hover,
  &:focus {
    outline: none;
  }
}

@media screen and (max-width: 425px) {
  .search-form:first-child {
    order: 3;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .modal_watched {
    width: 137px;
    height: 38px;
    padding: 12px 18px;
  }
  .modal_queue {
    width: 119px;
    height: 38px;
    padding: 12px 18px;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .modal_watched {
    width: 165px;
    height: 42px;
    padding: 14px 32px;
  }
  .modal_queue {
    width: 134px;
    height: 42px;
    padding: 14px 24px;
  }
}
